@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothiccoding.css);

.page-header {
    /*background-color: #ff9400;*/
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #000000;
    font-size: 36pt;
    text-decoration: none;
}

.att{
  border-left: 5px solid red;
  padding: 10px;
}

.custom-nav .nav-pills a:visited, a:active, a, a:hover{
  color:#000000;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color:black;
    background-color:#fcd900;
    }

 .nav-pills > li.active > a:hover{
   background-color: #aaaaaa;
 }

.page-header h2, .page-header h2 a, .page-header h2 a:visited, .page-header h2 a:active {
    color: #000000;
    font-size: 28pt;
    text-decoration: none;
}

.page-header2{
  padding-top: 140px;
}

.content-selector {
    margin-left: 40px;
}


.content {
    margin-left: 40px;
}

h1, h2, h3, h4 {
    font-family: 'Nanum Gothic Coding', cursive;
}

.date {
    float: right;
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 70px;
}

.post h1 a, .post h1 a:visited {
    color: #000000;
}
